<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Template</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./css/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
     

      <h1>{{ intro }}</h1>
      
       <div>Navn: <input  v-model="navn"></div>
       <div>id:   <input  v-model="id"></div>

       <div>twoway binding - v-model:  {{navn}}</div>

        
  

       <button v-on:click="addMethod">Add button</button>

       <ul>
        <li  v-for = "l in liste" v-if="id>10">{{l.navn}} - {{l.id}}</li>
       </ul>


       

    </div>

    <!-- Import App -->
    <script src="./js/main.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>
